---
title: Example Page | Example Service Guide
weight: 2
---

<%= partial 'documentation/partials/google_tag_manager_js' %>

# Example Page

## Heading 2 (Automically appears on the left menu)

### Heading 3

#### Heading 4

[Link to Developer Hub](https://developer.service.hmrc.gov.uk)

<p class="govuk-body-l" style="font-size: 24px;">
  <a href="/downloads/example.zip" class="govuk-link">VAT (MTD) API JSON schemas and examples</a>
</p>
<p class="govuk-body-s" style="font-size: 16px;margin-bottom: 15px;">ZIP, 13KB</p>
<p class="govuk-body-s" style="font-size: 16px;margin-bottom: 15px;">The ZIP file contains text files. Open in your preferred file viewer.</p>

* Bullet points
* Bullet points
* Bullet points

1. Number List
1. Number List
1. Number List

*Italic* 

**Bold**

> Blockquotes

| Col 1         | Col 2         | Col 3 |
| ------------- |:-------------:| -----:|
| col 1 is      | left-aligned  | £12   |
| col 2 is      | centered      | £12   |
| col 3 is      | right-aligned | £1600 |

```
Code block
```

Inline `code` 

![Alt text](/images/example.png)

Add a feedback link

```
<%%= partial "documentation/partials/give-feedback" %>
```

<%= partial "documentation/partials/give-feedback" %>
