---
title: Process Flows | Example Service Guide
weight: 2
---

# Process Flows

## Pre-lodgement message flows

### Transit presentation notification valid 

**Applicable procedures:** normal and simplified.

<img src="../figures/trans_pres_notif_valid.svg" alt="Pre-lodgement message flow with presentation of a valid notification. Flow is described in this section." />

<a href="../figures/trans_pres_notif_valid.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Holder of the Transit Procedure submits the ‘Declaration Data’ E_DEC_DAT (IE015) message to the Office of Departure with ‘Additional Declaration Type’ equal to ‘D’.
1. The Office of Departure validates this message successfully and sends the ‘Positive Acknowledge’ E_POS_ACK (IE928) message to the Holder of the Transit Procedure to acknowledge receipt of the transit declaration.
1. Following the result of the Risk Analysis engine, the Office of Departure may select the pre-lodged declaration for potential control of the goods prior to their presentation. In such a case, the Office of Departure notifies the Holder of the Transit Procedure (provided that they are an AEO) about the intention to potentially control the goods, via the ‘Control Decision Notification’ E_CTR_DEC (IE060) message (having the data element TRANSIT OPERATION-Notification type equal to ‘2-Intention to Control’).
1. The Office of Departure receives a valid ‘Presentation Notification for the Pre-Lodged Declaration’ E_PRE_NOT (IE170) message from the Holder of the Transit Procedure.
1. The MRN is communicated to the Holder of the Transit Procedure with message ‘MRN Allocated’ E_MRN_ALL (IE028).
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.



### Transit presentation not valid 

**Applicable procedures:** normal and simplified.

<img src="../figures/trans_pres_notif_not_valid.svg" alt="Pre-lodgement message flow with presentation of a non-valid notification. Flow is described in this section." />

<a href="../figures/trans_pres_notif_not_valid.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Holder of the Transit Procedure submits the ‘Declaration Data’ E_DEC_DAT (IE015) message to the Office of Departure with ‘Additional Declaration Type’ equal to ‘D’.
1. The Office of Departure validates this message successfully and sends the ‘Positive Acknowledge’ E_POS_ACK (IE928) message to the Holder of the Transit Procedure to acknowledge receipt of the transit declaration.
1. The Office of Departure receives an invalid ‘Presentation Notification for the Pre-Lodged Declaration’ E_PRE_NOT (IE170) message from the Holder of the Transit Procedure.
1. The Office of Departure rejects the E_PRE_NOT (IE170) message by notifying the Holder of the Transit Procedure with the ‘Rejection from Office of Departure’ E_DEP_REJ (IE056) message.
1. If the time limit expires without the Holder of the Transit Procedure resending a valid ‘Presentation Notification for the Pre-Lodged Declaration’ E_PRE_NOT (IE170) message, the Holder of the Transit Procedure is notified with the message ‘Rejection from Office of Departure’ E_DEP_REJ (IE056) by the Office of Departure.
1. The transit movement ends.



### Corrections of the pre-lodgement declaration prior to presentation of the goods 

**Applicable procedures:** normal and simplified.

<img src="../figures/correct_pre-lodge_dec_prior_pres_goods.svg" alt="Pre-lodgement message flow with corrections of the pre-lodgement declaration prior to presentation of the goods. Flow is described in this section." />

<a href="../figures/correct_pre-lodge_dec_prior_pres_goods.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Holder of the Transit Procedure submits the ‘Declaration Data’ E_DEC_DAT (IE015) message to the Office of Departure with ‘Additional Declaration Type’ equal to ‘D’.
1. The Office of Departure validates this message successfully and sends the ‘Positive Acknowledge’ E_POS_ACK (IE928) message to the Holder of the Transit Procedure to acknowledge receipt of the transit declaration.
1. The Holder of the Transit Procedure decides to correct the transit declaration and submits the ‘Declaration Amendment’ E_DEC_AMD (IE013) message.
1. The Office of Departure performs validation of the IE013 message with one of the following outcomes:
    - The Office of Departure sends the ‘Rejection from Office of Departure’ E_DEP_REJ (IE056) to the Holder of the Transit Procedure. The Holder of the Transit Procedure can then send a second ‘Declaration Amendment’ E_DEC_AMD (IE013) message for validation. (Go to step 4.)
    - The Office of Departure validates the IE013 message successfully and sends its acceptance to the Holder of the Transit Procedure with the ‘Amendment Acceptance’ E_AMD_ACC (IE004) message. (Go to step 5.)
1. Following the result of the Risk Analysis engine, the Office of Departure may select the pre-lodged declaration for potential control of the goods prior to their presentation. In such a case, the Office of Departure notifies the Holder of the Transit Procedure (provided that they are an AEO) about the intention to potentially control the goods, via the ‘Control Decision Notification’ E_CTR_DEC (IE060) message (having the data element TRANSIT OPERATION-Notification type equal to ‘2-Intention to Control’).
1. The Office of Departure receives a valid ‘Presentation Notification for the Pre-Lodged Declaration’ E_PRE_NOT (IE170) message from the Holder of the Transit Procedure.
1. The MRN is communicated to the Holder of the Transit Procedure with message ‘MRN Allocated’ E_MRN_ALL (IE028).
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.




### Cancellation of the pre-lodged declaration 

**Applicable procedures:** normal and simplified.

<img src="../figures/cancel_pre-lodge_dec.svg" alt="Pre-lodgement message flow with cancellation of the pre-lodgement declaration. Flow is described in this section." />

<a href="../figures/cancel_pre-lodge_dec.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Holder of the Transit Procedure submits the ‘Declaration Data’ E_DEC_DAT (IE015) message to the Office of Departure with ‘Additional Declaration Type’ equal to ‘D’.
1. The Office of Departure validates this message successfully and sends the ‘Positive Acknowledge’ E_POS_ACK (IE928) message to the Holder of the Transit Procedure to acknowledge receipt of the transit declaration.
1. The Holder of the Transit Procedure decides to cancel the pre-lodged declaration by sending the ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message to the Office of Departure.
1. Assuming the ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message is valid, the Office of Departure automatically sends a positive decision to cancel the pre-lodged declaration. The ‘Invalidation Decision’ E_INV_DEC (IE009) is sent to the Holder of the Transit Procedure.
1. The transit movement ends.







## Departure message flows

### Standard departure 

**Applicable procedures:** normal and simplified.

<img src="../figures/standard_departure.svg" alt="Standard departure message flow. Flow is described in this section." />

<a href="../figures/standard_departure.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Holder of the Transit Procedure submits a transit declaration to the Office of Departure with the ‘Declaration Data’ E_DEC_DAT (IE015) message.
1. If the transit declaration is valid, the Office of Departure acknowledges the receipt of the transit declaration with the ‘Positive Acknowledge’ E_POS_ACK (IE928) message.
1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.




### Rejection of transit declaration 

**Applicable procedures:** normal and simplified.

<img src="../figures/reject_transit_declaration.svg" alt="Rejection of transit declaration. Flow is described in this section." />

<a href="../figures/reject_transit_declaration.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Holder of the Transit Procedure submits a transit declaration to the Office of Departure with the ‘Declaration Data’ E_DEC_DAT (IE015) message.
2. The Office of Departure validates the declaration data as invalid and thus rejects it by sending a response to the Holder of the Transit Procedure the ‘Rejection from Office of Departure’ E_DEP_REJ (IE056) message.
3. The transit movement ends.





### Release for transit refused due to guarantee registration failure 

**Applicable procedures:** normal and simplified.

<img src="../figures/guarantee_registration_failure.svg" alt="Release for transit refused due to guarantee registration failure. Flow is described in this section." />

<a href="../figures/guarantee_registration_failure.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The Holder of the Transit Procedure is notified that the declared guarantee is not valid with the ‘Guarantee Not Valid’ E_GUA_INV (IE055) message.
1. The Holder of the Transit Procedure does not send a ‘Declaration Amendment’ E_DEC_AMD (IE013) within the allowed time period. The ‘No Release for Transit’ E_REL_NOT (IE051) message is sent to the Holder of the Transit Procedure.
1. The transit movement ends.






### Release for transit refused for safety and security reasons 


**Applicable procedures:** normal and simplified.

<img src="../figures/release_refused_safety_security.svg" alt="Release for transit refused for safety and security reasons. Flow is described in this section." />

<a href="../figures/release_refused_safety_security.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. A risk assessment of the transit declaration identifies a high risk with a threat to safety and security. The ‘No Release for Transit’ E_REL_NOT (IE051) message is sent to the Holder of the Transit Procedure.
1. The transit movement ends.




### Declaration amendment accepted/rejected 

**Applicable procedures:** normal and simplified.

<img src="../figures/amendment_accepted_rejected.svg" alt="Declaration amendment accepted/rejected. Flow is described in this section." />

<a href="../figures/amendment_accepted_rejected.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The Holder of the Transit Procedure notifies the Office of Departure of needed changes to the original declaration with a valid ‘Declaration Amendment’ E_DEC_AMD (IE013) before the goods have been released for transit.
1. The Office of Departure performs validation of the IE013 message with one of the following outcomes:
    - The Office of Departure sends the ‘Rejection from Office of Departure’ E_DEP_REJ (IE056) to the Holder of the Transit Procedure, who can then send a second ‘Declaration Amendment’ E_DEC_AMD (IE013) message for validation. (Go to step 3.)
    - The Office of Departure successfully validates the IE013 message and sends its acceptance to the Holder of the Transit Procedure with the ‘Amendment Acceptance’ E_AMD_ACC (IE004) message. (Go to step 4.)
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.



### Invalidation request by the holder of the transit procedure before release for transit 

**Applicable procedures:** normal and simplified.

<img src="../figures/inval_request_before_release.svg" alt="Invalidation request by the holder of the transit procedure before release for transit. Flow is described in this section." />

<a href="../figures/inval_request_before_release.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The Holder of the Transit Procedure is notified with the ‘Guarantee Not Valid’ E_GUA_INV (IE055) message that the declared guarantee is not valid.
1. The Holder of the Transit Procedure decides to invalidate the transit declaration and therefore notifies the Office of Departure with the ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message.
1. The Office of Departure examines the request and replies with the positive decision with the ‘Invalidation Decision’ E_INV_DEC (IE009) message (i.e. “Decision” is set to “1=Yes”).
1. The transit movement ends.





### Invalidation request by the holder of the transit procedure after release for transit 

**Applicable procedures:** normal and simplified.

<img src="../figures/inval_request_after_release.svg" alt="Invalidation request by the holder of the transit procedure after release for transit. Flow is described in this section." />

<a href="../figures/inval_request_after_release.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The Holder of the Transit Procedure decides to invalidate the transit declaration and therefore notifies the Office of Departure with the ‘Declaration Invalidation Request’ E_DEC_INV (IE014) message.
1. The Office of Departure automatically rejects the ‘Declaration Invalidation Request’ E_DEC_INV (IE014) by notifying the Holder of the Transit Procedure with the ‘Rejection from Office of Departure’ E_DEP_REJ (IE056) message containing the error code ’92-Message out of sequence’.
1. The movement continues to arrivals.




### Invalidation of a transit declaration after release for transit  

**Applicable procedures:** normal and simplified.

<img src="../figures/inval_declar_after_release.svg" alt="Invalidation of a transit declaration after release for transit. Flow is described in this section." />

<a href="../figures/inval_declar_after_release.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The ‘Invalidation Decision’ E_INV_DEC (IE009) is sent to the Holder of the Transit Procedure.
1. The transit movement ends.





### Control by Office of Departure with release for transit 

**Applicable procedures:** normal and simplified.

<img src="../figures/control_with_release.svg" alt="Control by Office of Departure with release for transit. Flow is described in this section." />

<a href="../figures/control_with_release.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The Office of Departure sends the ‘Control Decision Notification’ E_CTR_DEC (IE060) message to the Holder of the Transit Procedure to notify about the upcoming control activities (having the data element TRANSIT OPERATION-Notification type equal to ‘0-Decision to Control (and requested documents if needed)’).
1. The control activity results in one of the following outcomes:
    - Control results are satisfactory. (Go to step 4.) 
    - Control results show minor discrepancies. The Holder of the Transit Procedure communicates a positive release request to the Office of Departure through the ‘Request of Release’ E_REQ_REL (IE054) message. (Go to step 4.)
    - Control results are unsatisfactory and the ‘No Release for Transit’ E_REL_NOT (IE051) message is sent to the Holder of the Transit Procedure. The transit movement ends here.
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.




### Positive release request with release for transit / negative release request 

**Applicable procedures:** normal and simplified.

<img src="../figures/positive_negative_request.svg" alt="Positive release request with release for transit / negative release request. Flow is described in this section." />

<a href="../figures/positive_negative_request.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The Office of Departure sends the ‘Control Decision Notification’ E_CTR_DEC (IE060) message to the Holder of the Transit Procedure to notify about the upcoming control activities (having the data element TRANSIT OPERATION-Notification type equal to ‘0-Decision to Control (and requested documents if needed)’).
1. The Holder of the Transit Procedure sends the ‘Request of Release’ E_REQ_REL (IE054), containing the flag ‘Release Request’ set to “0-No”, to the Office of Departure.
1. The Office of Departure makes one of the following decisions:
    - The Office of Departure decides to allow the movement to proceed towards release for transit despite the fact that there are minor discrepancies. (Go to step 5.)
    - The Office of Departure decides to refuse release for transit. The ‘No Release for Transit’ E_REL_NOT (IE051) message is sent to the Holder of the Transit Procedure. The transit movement ends here.
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.





### Release request rejected  

**Applicable procedures:** normal and simplified.

<img src="../figures/release_request_rejected.svg" alt="Release request rejected. Flow is described in this section." />

<a href="../figures/release_request_rejected.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Office of Departure communicates the MRN to the Holder of the Transit Procedure with the ‘MRN Allocated’ E_MRN_ALL (IE028) message.
1. The Office of Departure sends the ‘Control Decision Notification’ E_CTR_DEC (IE060) message to the Holder of the Transit Procedure to notify about the upcoming control activities (having the data element TRANSIT OPERATION-Notification type equal to ‘0-Decision to Control (and requested documents if needed)’).
1. The Holder of the Transit Procedure sends an invalid ‘Request of Release’ E_REQ_REL (IE054) message.
1. The ‘Request of Release’ E_REQ_REL (IE054) message is rejected with the message ‘Rejection from Office of Departure’ E_DEP_REJ (IE056).
1. The Holder of the Transit Procedure responds in one of the following ways:
    - The Holder of the Transit Procedure does not oppose the minor discrepancies and sends the ‘Request of Release’ E_REQ_REL (IE054) message with the flag ‘Release Request’ set to “1-Yes” to the Office of Departure. (Go to step 7.)
    - The Holder of the Transit Procedure opposes the minor discrepancies and sends the ‘Request of Release’ E_REQ_REL (IE054) message with the flag ‘Release Request’ set to “0-No” to the Office of Departure.
1. The Office of Departure makes one of the following decisions:
    - The Office of Departure decides to allow the movement to proceed towards release for transit despite the fact that there are minor discrepancies. (Go to step 7.)
    - The Office of Departure decides to refuse release for transit. The ‘No Release for Transit’ E_REL_NOT (IE051) message is sent to the Holder of the Transit Procedure. The transit movement ends here.
1. The ‘Release for Transit’ E_REL_TRA (IE029) message is sent to the Holder of the Transit Procedure.
1. The movement continues to arrivals.




## Arrival message flows

### Standard procedure at destination 

**Applicable procedures:** normal and simplified.

<img src="../figures/standard_arrival.svg" alt="Standard arrival message flow. Flow is described in this section." />

<a href="../figures/standard_arrival.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message.
1. The goods are released from transit. The Office of Destination sends the ‘Goods Released Notification’ E_GDS_REL (IE025) message to the Trader at Destination.
1. The Office of Departure sends the ‘Write-Off Notification’ E_WRT_NOT (IE045) message to the Holder of the Transit Procedure.




### Simplified procedure at destination 

**Applicable procedures:** simplified.

<img src="../figures/simplified_arrival.svg" alt="Simplified arrival message flow. Flow is described in this section." />

<a href="../figures/simplified_arrival.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message under simplified procedure (simplified procedure flag = ‘Yes’).
1. The Office of Destination notifies the Trader at Destination that the unloading of the goods can be started by means of ‘Unloading Permission’ E_ULD_PER (IE043).
1. After unloading, the Trader at Destination sends the ‘Unloading Remarks’ E_ULD_REM (IE044) to the Office of Destination indicating that the unloading has been completed with no unloading remarks (i.e. the ‘Unloading Remarks’ E_ULD_REM (IE044) message contains the flags Unloading completion = ‘1-Yes’ & Conform = ‘1-Yes’).
1. The goods are released from transit. The Office of Destination sends the ‘Goods Released Notification’ E_GDS_REL (IE025) message to the Trader at Destination.
1. The Office of Departure sends the ‘Write-Off Notification’ E_WRT_NOT (IE045) message to the Holder of the Transit Procedure.



### Rejection of arrival notification 

<img src="../figures/reject_arrival.svg" alt="Rejection of arrival notification. Flow is described in this section." />

<a href="../figures/reject_arrival.svg" target="_blank">Open the diagram in a new tab.</a>

1. The Trader at Destination sends the ‘Arrival Notification’ E_ARR_NOT (IE007) to the Office of Destination and NCTS performs validation of this message. If the ‘Arrival Notification’ E_ARR_NOT (IE007) has been found invalid after validation (i.e. in terms of message structure and R/Cs), NCTS rejects it.
1. The Office of Destination notifies the Trader at Destination by sending the ‘Rejection from Office of Destination’ E_DES_REJ (IE057) message.
1. The Trader at Destination sends another ‘Arrival Notification’ E_ARR_NOT (IE007) to the Office of Destination and NCTS performs validation of this message. This time, the ‘Arrival Notification’ E_ARR_NOT (IE007) has been found valid after validation (i.e. in terms of message structure and R/Cs), NCTS accepts it.



### Unloading Permission Received - Unloading Remarks 

**Applicable procedures:** simplified.

<img src="../figures/unload_perm_rec_remarks.svg" alt="Unloading Permission Received - Unloading Remarks. Flow is described in this section." />

<a href="../figures/unload_perm_rec_remarks.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message.
1. The ‘Unloading Permission’ E_ULD_PER (IE043) message is sent to the authorised consignee to allow the unloading at the authorised place.
1. The authorised consignee sends the ‘Unloading Remarks’ E_ULD_REM (IE044) message to the Office of Destination.
1. If no control is decided, or control results are satisfactory, go to step 7.
1. If control is performed at the Office of Destination and major discrepancies are reported into the destination control results: 
    1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination.
    1. The Office of Departure notifies the Holder of the Transit Procedure that major discrepancies are reported in the destination control results with the ‘Discrepancies’ E_DIS_SND (IE019) message. Go to step 7.
1. If unloading is not completed and the Office of Destination decides to allow unloading to continue:
    1. The Office of Destination sends a new ‘Unloading Permission’ E_ULD_PER (IE043) message.
    1. The authorized consignee sends the ‘Unloading Remarks’ E_ULD_REM (IE044) message to the Office of Destination.
1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination in order to notify them that the transit procedure has ended successfully.
1. The Office of Departure sends the ‘Write-Off Notification’ E_WRT_NOT (IE045) message to the Holder of the Transit Procedure.

### Unloading remarks rejected 

**Applicable procedures:** simplified.

<img src="../figures/unload_remarks_reject.svg" alt="Unloading remarks rejected. Flow is described in this section." />

<a href="../figures/unload_remarks_reject.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message under simplified procedure (simplified procedure flag = ‘Yes’).
1. The Office of Destination notifies the Trader at Destination that the unloading of the goods can be started by means of ‘Unloading Permission’ E_ULD_PER (IE043).
1. The Trader at Destination sends an invalid ‘Unloading Remarks’ E_ULD_REM (IE044) message to the Office of Destination.
1. The Office of Destination rejects these remarks by sending back a ‘Rejection from Office of Destination’ E_DES_REJ (IE057) message.
1. The Trader at Destination re-sends the ‘Unloading Remarks’ E_ULD_REM (IE044) message until it is acceptable to the Office of Destination.
1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination in order to notify them that the transit procedure has ended successfully.
1. The Office of Departure sends the ‘Write-Off Notification’ E_WRT_NOT (IE045) message to the Holder of the Transit Procedure.

### Major Discrepancies found during control at the Office of Destination - Resolved before the expiration of resolution timer 

**Applicable procedures:** normal and simplified.

<img src="../figures/discrep_res_before_timer_expire.svg" alt="Major Discrepancies found during control at the Office of Destination - Resolved before the expiration of resolution timer. Flow is described in this section." />

<a href="../figures/discrep_res_before_timer_expire.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message.
1. The Office of Destination performs control and major discrepancies are reported.
1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination.
1. The Office of Departure notifies the Holder of the Transit Procedure that major discrepancies are reported in the destination control results with the ‘Discrepancies’ E_DIS_SND (IE019) message.
1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination in order to notify them that the transit procedure has ended successfully.
1. The Office of Departure sends the ‘Write-Off Notification’ E_WRT_NOT (IE045) message to the Holder of the Transit Procedure.

### Major Discrepancies found during control at the Office of Destination - Major Discrepancies are confirmed - Recovery to be started 

**Applicable procedures:** normal and simplified.

<img src="../figures/discrep_confirm_recovery.svg" alt="Major Discrepancies found during control at the Office of Destination - Major Discrepancies are confirmed - Recovery to be started. Flow is described in this section." />

<a href="../figures/discrep_confirm_recovery.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message.
1. The Office of Destination performs control and major discrepancies are reported that justify recovery.
1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination in order to notify them that the transit procedure has ended successfully.
1. The Office of Departure notifies the Holder of the Transit Procedure that major discrepancies are reported in the destination control results with the ‘Discrepancies’ E_DIS_SND (IE019) message.
1. The movement continues with recovery.




### Major Discrepancies found during control at the Office of Destination - Resolved after the expiration of resolution timer 

**Applicable procedures:** normal and simplified.

<img src="../figures/discrep_res_after_expire.svg" alt="Major Discrepancies found during control at the Office of Destination - Resolved after the expiration of resolution timer. Flow is described in this section." />

<a href="../figures/discrep_res_after_expire.svg" target="_blank">Open the diagram in a new tab.</a>

1. Upon arrival of the movement at the Office of Destination, the Trader at Destination announces it by submitting the ‘Arrival Notification’ E_ARR_NOT (IE007) message.
1. The Office of Destination performs control and major discrepancies are reported.
1. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination.
1. The Office of Departure notifies the Holder of the Transit Procedure that major discrepancies are reported in the destination control results with the ‘Discrepancies’ E_DIS_SND (IE019) message.
1. After expiration of the resolution timer, the discrepancies are resolved. The Office of Destination sends the ‘Goods Release Notification’ E_GDS_REL (IE025) message to the Trader at Destination in order to notify them that the transit procedure has ended successfully.
1. The Office of Departure sends the ‘Write-Off Notification’ E_WRT_NOT (IE045) message to the Holder of the Transit Procedure.




## Other message flows
